# Virtual Environment
.venv/
venv/

# IDE
.idea/
.vscode/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db